<%= form_tag '/upload', method: 'post', multipart: true do%>
	<label>ファイル</label>
	<input name="image" type="file">
	<input type="submit" value="送信">
<% end %>

<% if File.exist? "public/user_images/target_img.jpg"%>
	<%= image_tag '/user_images/target_img.jpg' %>
<% end %>
