<div class="show-result">
	<p class="text-center">結果</p>
	<div class="img-result">
		<% @create_imgs.each do |img|%>
			<%= image_tag("/user_images/target_img.jpg", :class => "output-image") %>
		<%end%>
	</div>
	<button type="submit" class="btn btn-success center-block go-top">一括ダウンロード</button>
	<%= form_tag reset_url, method: 'get' do%>
		<button type="submit" class="btn btn-primary center-block go-top">トップに戻る</button>
	<%end%>
</div>