  <footer class="footer">
    <div class="container-footer">
      <nav class="footer-nav">
        <ul class="footer-ul">
        <li> <a href="/">Home </a></li>
        <li> <a href="/">Portfolio </a></li>
        <li> <a href="/">Contact</a></li>
      </ul>
      </nav>
      <a href="https://github.com/Hobiron03"><i class="fab fa-github-alt fa-2x"></i></a>
      <a href="https://www.facebook.com/profile.php?id=100005607696262"><i class="fab fa-facebook fa-2x"></i></a>
      <p class="text-center"><small>&copy; 2018 kamikami</small></p>
    </div>
  </footer>