<div class="navbar navbar-default navbar-fixed-top header">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">画像水増し機</a>
    </div>
    <ul class="nav navbar-nav" v-transition>
      <li class="hvr-underline-from-center">
        <%= link_to("Home", reset_url) %>
     </li>
      <li class="hvr-underline-from-center">
        <a href="/">Portfolio</a>
     </li>
      <li class="hvr-underline-from-center" >
        <a href="/">Contact</a>
     </li>
    </ul>
  </div>